.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

body{
    background-color: black;
    cursor: default;
    overflow: hidden;
}

.Circle{
    border-radius: 50%;
    background-color: aqua;
    position: absolute;
}

.Player{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 50%;
    pointer-events: none;
}

#StartingScreen{
    display: block;
    width: 100%;
    height: 100%;
}

#EndingScreen{
    display: none;
    width: 100%;
    height: 100%;
}

#ScoreElement{
    display: flex;
    position: absolute;
    top: 0%;
    left: auto;
    right: 3%;
}

h1{
    font-family: Montserrat;
    text-transform: uppercase;
    padding: auto;
    color: #fdffff;
}

#StartingText{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#EndingText{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#Fullscreen{
    display: flex;
    position: absolute;
    top:auto;
    bottom: 3%;
    left: auto;
    right: 3%;
}